.admin-gallery-list {
  .list-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.upload-images-modal {
  font-family: 'Trirong Medium', sans-serif;
  * {
    font-family: 'Trirong Medium', sans-serif;
  }
}
