@import './admin-qna.scss';
@import './admin-gallery.scss';
@import './admin-contact.scss';

.admin {
  font-family: 'Trirong Medium', sans-serif;
  * {
    font-family: 'Trirong Medium', sans-serif;
  }
  .admin-content {
    padding: $p-1 + 0.5;
    position: relative;
    .content-control {
      margin-bottom: $m-1;
    }
    .content-footer {
      width: $w-10 * 6;
      padding: $p-1;
      background: $bg-white;
      position: fixed;
      bottom: 0;
      left: 50%;
      z-index: 20;
      transform: translateX(-50%);
    }
    .content-action {
      width: $w-full;
    }
  }
  .admin-header {
    width: $w-full;
    padding: $p-1 - 0.5 $p-2;
    background: linear-gradient(to right, $bg-light-blue, $bg-blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    .header-default {
      display: flex;
      align-items: center;
      justify-content: space-between;
      * {
        font-family: 'Abril Regular', sans-serif;
        color: $text-white;
      }
      .default-name {
        margin: 0;
        font-weight: 400;
      }
      .default-icon {
        background: transparent;
        border: unset;
        display: flex;
        align-items: center;
        transition: opacity $transition-time-md $transition-time-lg;
        &:hover {
          opacity: 0.6;
        }
        img {
          width: $w-2;
          height: $h-2;
          margin-left: $m-1;
        }
        svg {
          margin-left: $m-1;
        }
      }
    }
    .header-form {
      display: flex;
      align-items: center;
      justify-content: center;
      * {
        font-family: 'Abril Regular', sans-serif;
        color: $text-white;
      }
      .form-title {
        margin: 0;
        font-weight: 400;
      }
    }
  }
}
