.admin-qna-list {
  .list-qna {
    margin-bottom: $m-1;
    border: 1px solid transparent;
    transition: all $transition-time-sm $transition-fn;
    &:last-child {
      margin: 0;
    }
    &:hover {
      border-color: $bg-blue;
    }
    * {
      color: $text-gray;
    }
    .qna-content {
      .content-icon {
        border: unset;
        background: transparent;
        cursor: pointer;
        transition: opacity $transition-time-sm $transition-fn;
        &:hover {
          opacity: 0.6;
        }
        path {
          color: $text-red;
        }
      }
    }
  }
  .list-qna-active {
    border-color: $bg-blue;
    * {
      color: $text-black;
    }
  }
}
