.admin-gallery-list {
  padding-bottom: $p-5;
  .list-inner {
    display: column;
    columns: 2;
    .inner-image {
      display: inline-block;
      .image-root {
        width: unset;
        img {
          border: 1px solid $bg-blue;
          border-radius: $rounded;
        }
      }
    }
  }
}

.upload-images-modal {
  font-family: 'Trirong Medium', sans-serif;
  * {
    font-family: 'Trirong Medium', sans-serif;
  }
}
