.dropdown {
  position: relative;
  width: max-content;
  .dropdown-label {
    cursor: pointer;
  }
  .dropdown-list {
    min-width: max-content;
    width: $w-10 * 1.5;
    border-radius: $rounded;
    box-shadow: 0 0 5px $bg-black-rgba-xs;
    background: $bg-white;
    overflow: hidden;
    position: absolute;
    top: 100%;
    opacity: 0;
    z-index: 5;
    transition: all $transition-time-xs $transition-fn;
    .list-item {
      padding: $p-1 - 0.5 $p-1;
      cursor: pointer;
      transition: all $transition-time-sm $transition-fn;
      &:hover {
        background: $bg-slate;
      }
    }
  }
  .dropdown-list-active {
    opacity: 1;
    top: calc(100% + 5px);
    animation: dropdown $transition-time-xs $transition-fn;
  }
}

// Placement
.dropdown-left {
  .dropdown-list {
    left: 0;
  }
}

.dropdown-right {
  .dropdown-list {
    right: 0;
  }
}
