.tabs {
  width: $w-full;
  .tabs-head {
    width: $w-full;
    margin-bottom: $m-2;
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    .head-item {
      min-width: max-content;
      height: $h-4;
      padding: $p-1;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $bg-slate;
      border-bottom: 1px solid $bg-slate;
      cursor: pointer;
      .item-icon {
        margin-right: $m-1;
      }
    }
    .head-item-active {
      height: $h-4 + 0.2;
      border-top-left-radius: $rounded;
      border-top-right-radius: $rounded;
      &:first-child {
        border-top-left-radius: unset;
      }
      &:last-child {
        border-top-right-radius: unset;
      }
      * {
        color: $text-white;
      }
    }
  }
  .tabs-content {
    width: $w-full;
    background: $bg-white;
    & > * {
      animation: fade $transition-time-md $transition-fn;
    }
  }
}

// Color
.tabs-blue {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-blue-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-blue;
    }
  }
}

.tabs-red {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-red-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-red;
    }
  }
}

.tabs-green {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-green-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-green;
    }
  }
}

.tabs-orange {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-orange-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-orange;
    }
  }
}

.tabs-yellow {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-yellow-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-yellow;
    }
  }
}

.tabs-orange {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-orange-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-orange;
    }
  }
}

.tabs-purple {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-purple-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-purple;
    }
  }
}

.tabs-pink {
  .tabs-head {
    .head-item {
      &:hover {
        background: $bg-pink-rgba-xs;
      }
    }
    .head-item-active {
      background: $bg-pink;
    }
  }
}
