.file-upload {
  .upload-group {
    display: block;
    width: max-content;
    padding: $p-1 - 0.5 $p-2;
    background: $bg-white;
    border: 0.5px solid $bg-gray;
    border-radius: $rounded;
    cursor: pointer;
    transition: all $transition-time-md $transition-fn;
    .group-control {
      display: none;
    }
    .group-label {
      display: flex;
      align-items: center;
      * {
        transition: color $transition-time-md $transition-fn;
      }
      span {
        margin-left: $m-1;
      }
    }
  }
  .upload-group-dragged {
    opacity: 0.4;
  }
  .upload-group-error {
    border-color: $bg-red !important;
    * {
      color: $text-red !important;
    }
  }
  .upload-group-disabled {
    border-color: $bg-gray !important;
    background: $bg-slate !important;
    user-select: none;
    cursor: not-allowed;
    * {
      color: $text-gray !important;
    }
  }
  .upload-items {
    margin-top: $m-2;
    .items-inner {
      width: max-content;
      margin-bottom: $m-1;
      padding: $p-1 $p-2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 0.5px solid $bg-gray;
      border-radius: $rounded;
      background: $bg-white;
      &:last-child {
        margin: 0;
      }
      span {
        font-size: $text-xs;
        margin-right: $m-2;
      }
      .inner-icon {
        cursor: pointer;
        &:hover path {
          color: $text-black;
        }
        path {
          color: $text-gray;
          transition: color $transition-time-sm $transition-fn;
        }
      }
    }
  }
}

// Color
.file-upload-blue {
  .upload-group {
    &:hover {
      border-color: $bg-blue;
      * {
        color: $text-blue;
      }
    }
  }
}

.file-upload-green {
  .upload-group {
    &:hover {
      border-color: $bg-green;
      * {
        color: $text-green;
      }
    }
  }
}

.file-upload-orange {
  .upload-group {
    &:hover {
      border-color: $bg-orange;
      * {
        color: $text-orange;
      }
    }
  }
}

.file-upload-yellow {
  .upload-group {
    &:hover {
      border-color: $bg-yellow;
      * {
        color: $text-yellow;
      }
    }
  }
}

.file-upload-purple {
  .upload-group {
    &:hover {
      border-color: $bg-purple;
      * {
        color: $text-purple;
      }
    }
  }
}

.file-upload-pink {
  .upload-group {
    &:hover {
      border-color: $bg-pink;
      * {
        color: $text-pink;
      }
    }
  }
}
