.carousel-horizontal {
  &:hover .carousel-action {
    &:nth-child(1) {
      left: 20px;
    }
    &:nth-child(2) {
      right: 20px;
    }
  }
  .carousel-action {
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      right: 0;
    }
  }
  .carousel-view {
    display: flex;
  }
  .carousel-dots {
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    .dots-item {
      margin: 0 $m-1 - 0.5;
    }
    .dots-item-active {
      width: $w-2;
    }
  }
}
