.carousel-product {
  width: $w-10 * 5;
  height: $h-10 * 4;
  display: flex;
  overflow: hidden;
  .product-list {
    width: $w-10 + 4;
    height: $h-full;
    padding: $p-1 0;
    margin-right: $m-1;
    border: 0.5px solid $bg-gray;
    border-radius: $rounded;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    .list-item {
      width: $w-10;
      height: $h-10;
      margin-bottom: $m-1;
      border: 0.5px solid $bg-gray;
      border-radius: $rounded;
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      cursor: pointer;
      opacity: 0.5;
      transition: all $transition-time-md $transition-fn;
      &:last-child {
        margin: 0;
      }
      &:hover {
        opacity: 1;
        border-color: $bg-black;
      }
    }
    .list-item-active {
      opacity: 1;
      border-color: $bg-black;
    }
    @include respond(mdPhone) {
      display: none;
    }
  }
  .product-view {
    width: $w-10 * 4;
    height: $h-full;
    border: 0.5px solid $bg-gray;
    border-radius: $rounded;
    position: relative;
    &:hover .carousel-action {
      &:nth-child(1) {
        left: 20px;
      }
      &:nth-child(2) {
        right: 20px;
      }
    }
    .carousel-action {
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      &:nth-child(1) {
        left: 0;
      }
      &:nth-child(2) {
        right: 0;
      }
    }
    .view-slide {
      width: $w-full;
      height: $h-full;
      padding: $p-1;
      .carousel-view {
        display: flex;
      }
    }
    @include respond(mdPhone) {
      width: $w-full;
    }
  }
  .product-list-responsive {
    width: $w-4;
    height: $h-4;
    border-radius: $rounded;
    background: $bg-black-rgba-md;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    .responsive-label {
      width: $w-full;
      height: $h-full;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      path {
        color: $text-white;
      }
    }
    .responsive-list {
      width: $w-10;
      height: $h-10 * 3;
      padding: $p-1 0;
      box-shadow: 0 0 10px $bg-black-rgba-md;
      overflow-y: auto;
      background: $bg-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      position: absolute;
      top: 120%;
      right: 10px;
      z-index: 1;
      transition: opacity $transition-time-sm $transition-fn;
      .list-item {
        width: $w-10 - 2;
        height: $h-10 - 2;
        margin-bottom: $m-1;
        flex-grow: 1;
        flex-shrink: 0;
        border: 0.5px solid $bg-gray;
        border-radius: $rounded;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        opacity: 0.5;
        transition: all $transition-time-md $transition-fn;
        &:last-child {
          margin: 0;
        }
        &:hover {
          opacity: 1;
          border-color: $bg-black;
        }
      }
      .list-item-active {
        opacity: 1;
        border-color: $bg-black;
      }
    }
    .responsive-list-active {
      opacity: 1;
      animation: fade $transition-time-sm $transition-fn;
    }
    @include respond(mdPhone) {
      display: block;
    }
  }
  @include respond(mdPhone) {
    width: $w-full;
  }
}
