@font-face {
  font-family: 'Trirong Light';
  src: url('@/assets/fonts/TRIRONG-LIGHT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trirong Medium';
  src: url('@/assets/fonts/TRIRONG-MEDIUM.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trirong Bold';
  src: url('@/assets/fonts/TRIRONG-BOLD.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abril Regular';
  src: url('@/assets/fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
