.head {
  width: $w-full;
  padding: 0 $p-1;
  border-bottom: 0.5px solid $bg-gray;
  transition: all $transition-time-md $transition-fn;
}

.head-fixed {
  height: $h-6;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 15;
}

.head-light {
  background: $bg-white;
}

.head-dark {
  background: $bg-deep-blue;
  color: $text-white;
  * {
    color: $text-white;
  }
}
