// Horizontal
.menu-horizontal {
  display: flex;
  .horizontal-item {
    position: relative;
    .item-label {
      padding: $p-1 - 0.5 $p-1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all $transition-time-md $transition-fn;
      * {
        transition: all $transition-time-md $transition-fn;
      }
      .label-content {
        display: flex;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        .content-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: $m-1;
        }
        .content-text {
          font-size: $text-xs + 0.1;
        }
      }
      .label-arrow {
        margin-left: $m-1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .item-label-active {
      color: $text-white;
      * {
        color: $text-white;
      }
    }
    .item-dropdown {
      min-width: max-content;
      width: $w-full;
      padding: $p-1 - 0.8;
      background: $bg-white;
      box-shadow: 0 0 5px $bg-black-rgba-md;
      border-radius: $rounded;
      position: absolute;
      top: calc(100% + 2px);
      left: 0;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all $transition-time-sm $transition-fn;
      .horizontal-item {
        .item-label {
          background: transparent;
          color: $text-black;
          * {
            color: $text-black;
          }
          &:hover {
            background: $bg-slate;
          }
        }
        .item-dropdown {
          position: absolute;
          top: 0;
          left: calc(100% + 5px);
          z-index: 1;
        }
      }
    }
    .item-dropdown-active {
      opacity: 1;
      visibility: visible;
      animation: fade $transition-time-sm $transition-fn;
    }
  }
}

// Color
.menu-horizontal-blue {
  .horizontal-item {
    .item-label-active {
      background: $bg-blue;
    }
  }
}

.menu-horizontal-red {
  .horizontal-item {
    .item-label-active {
      background: $bg-red;
    }
  }
}

.menu-horizontal-green {
  .horizontal-item {
    .item-label-active {
      background: $bg-green;
    }
  }
}

.menu-horizontal-orange {
  .horizontal-item {
    .item-label-active {
      background: $bg-orange;
    }
  }
}

.menu-horizontal-yellow {
  .horizontal-item {
    .item-label-active {
      background: $bg-yellow;
    }
  }
}

.menu-horizontal-purple {
  .horizontal-item {
    .item-label-active {
      background: $bg-purple;
    }
  }
}

.menu-horizontal-pink {
  .horizontal-item {
    .item-label-active {
      background: $bg-pink;
    }
  }
}

.menu-horizontal-black {
  .horizontal-item {
    .item-label-active {
      background: $bg-black;
    }
  }
}

// Layout
.menu-horizontal-layout {
  gap: 5px;
  height: $h-full;
  .horizontal-item {
    height: $h-full;
    display: flex;
    align-items: center;
    .item-label {
      border-radius: $rounded;
    }
    .item-dropdown {
      top: 90%;
    }
  }
}

// Vertical
.menu-vertical {
  width: $w-full;
  padding: $p-1 - 0.8;
  .vertical-item {
    width: $w-full;
    margin-bottom: $m-1 - 0.5;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    .item-tooltip-wrap {
      width: $w-full;
    }
    .item-label {
      width: $w-full;
      padding: $p-1;
      border-radius: $rounded;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all $transition-time-md $transition-fn;
      * {
        transition: all $transition-time-md $transition-fn;
      }
      .label-content {
        display: flex;
        position: relative;
        .content-icon {
          margin-right: $m-1 + 0.5;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all $transition-time-md $transition-fn;
        }
        .content-text {
          width: $w-full;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          font-size: $text-xs + 0.1;
          transition: all $transition-time-md $transition-fn;
        }
      }
      .label-arrow {
        .arrow-icon {
          transition: transform $transition-time-md $transition-fn;
        }
      }
      .label-arrow-active {
        .arrow-icon {
          transform: rotate(180deg);
        }
      }
    }
    .item-label-active {
      background: $bg-blue;
      color: $text-white;
      * {
        color: $text-white;
      }
    }
    .item-child {
      margin-left: $m-1 - 0.6;
      max-height: 0;
      overflow: hidden;
      background: $bg-slate;
      transition: max-height $transition-time-sm $transition-fn;
    }
    .item-child-active {
      max-height: $h-screen !important;
    }
  }

  // Shrinked
  .vertical-item-shrinked {
    .item-label {
      .label-content {
        justify-content: center;
        .content-icon {
          margin: 0 $m-1;
        }
        .content-text {
          opacity: 0;
        }
      }
      .label-arrow {
        opacity: 0;
      }
    }
    .item-child-root {
      display: none;
      min-width: max-content;
      width: $w-10 * 2;
      max-height: unset;
      border-radius: $rounded;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 5;
      transition: all $transition-time-sm $transition-fn;
      .vertical-item {
        .item-label {
          border-radius: unset;
          .label-content {
            .content-text {
              opacity: 1;
              transform: translate(0);
            }
          }
          .label-arrow {
            opacity: 1;
          }
        }
        .item-child {
          margin-left: $m-1 - 0.6;
          max-height: 0;
          height: unset;
          position: unset;
          background: $bg-slate;
        }
      }
    }
    .item-child-root-active {
      display: block;
    }
  }
}

// Color
.menu-vertical-blue {
  .vertical-item {
    .item-label:hover {
      background: $bg-blue;
    }
    .item-label-active {
      background: $bg-blue;
    }
  }
}

.menu-vertical-red {
  .vertical-item {
    .item-label:hover {
      background: $bg-red;
    }
    .item-label-active {
      background: $bg-red;
    }
  }
}

.menu-vertical-green {
  .vertical-item {
    .item-label:hover {
      background: $bg-green;
    }
    .item-label-active {
      background: $bg-green;
    }
  }
}

.menu-vertical-orange {
  .vertical-item {
    .item-label:hover {
      background: $bg-orange;
    }
    .item-label-active {
      background: $bg-orange;
    }
  }
}

.menu-vertical-yellow {
  .vertical-item {
    .item-label:hover {
      background: $bg-yellow;
    }
    .item-label-active {
      background: $bg-yellow;
    }
  }
}

.menu-vertical-purple {
  .vertical-item {
    .item-label:hover {
      background: $bg-purple;
    }
    .item-label-active {
      background: $bg-purple;
    }
  }
}

.menu-vertical-pink {
  .vertical-item {
    .item-label:hover {
      background: $bg-pink;
    }
    .item-label-active {
      background: $bg-pink;
    }
  }
}

// Theme
.menu-vertical-black {
  .vertical-item {
    .item-label:hover {
      background: $bg-black;
    }
    .item-label-active {
      background: $bg-black;
    }
  }
}

.menu-vertical-dark {
  .vertical-item {
    .item-child {
      background: $bg-black;
      .vertical-item {
        .item-child {
          background: $bg-deep-blue;
        }
      }
    }
  }
}
