.radio {
  width: max-content;
  .radio-group {
    display: flex;
    .group-control {
      display: none;
    }
    .group-checked {
      border: 0.5px solid $bg-gray;
      border-radius: $rounded-full;
      position: relative;
      cursor: pointer;
      transition: all $transition-time-sm $transition-fn;
      &::after {
        content: '';
        border-radius: $rounded-full;
        background: $bg-white;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
    .group-label {
      margin-left: $m-1;
    }
  }
  .radio-group-error {
    .group-checked {
      border-color: $bg-red;
    }
    .group-label {
      color: $text-red;
      * {
        color: $text-red;
      }
    }
  }
  .radio-group-disabled {
    opacity: 0.7;
    cursor: not-allowed;
    &:hover .group-checked {
      border-color: $bg-gray !important;
    }
    .group-checked {
      border-color: $bg-gray;
      background: $bg-gray;
      user-select: none;
      cursor: not-allowed;
    }
    .group-label {
      color: $text-gray;
      * {
        color: $text-gray;
      }
    }
  }
}

.radio-gap-sm {
  margin-bottom: $m-1;
}

.radio-gap-md {
  margin-bottom: $m-1 + 0.5;
}

.radio-gap-lg {
  margin-bottom: $m-2;
}

// Size
.radio-sm {
  .group-checked {
    width: $w-2 - 0.5;
    height: $h-2 - 0.5;
    &::after {
      width: $w-1 - 0.5;
      height: $h-1 - 0.5;
    }
  }
  .group-label {
    font-size: $text-xs;
    * {
      font-size: $text-xs;
    }
  }
}

.radio-md {
  .group-checked {
    width: $w-2;
    height: $h-2;
    &::after {
      width: $w-1;
      height: $h-1;
    }
  }
}

.radio-lg {
  .group-checked {
    width: $w-2 + 0.5;
    height: $h-2 + 0.5;
    &::after {
      width: $w-1;
      height: $h-1;
    }
  }
  .group-label {
    font-size: $text-md;
    * {
      font-size: $text-md;
    }
  }
}

// Color
.radio-blue {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-blue;
      }
    }
    &:hover .group-checked {
      border-color: $bg-blue;
    }
  }
}

.radio-green {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-green;
      }
    }
    &:hover .group-checked {
      border-color: $bg-green;
    }
  }
}

.radio-orange {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-orange;
      }
    }
    &:hover .group-checked {
      border-color: $bg-orange;
    }
  }
}

.radio-yellow {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-yellow;
      }
    }
    &:hover .group-checked {
      border-color: $bg-yellow;
    }
  }
}

.radio-purple {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-purple;
      }
    }
    &:hover .group-checked {
      border-color: $bg-purple;
    }
  }
}

.radio-pink {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-pink;
      }
    }
    &:hover .group-checked {
      border-color: $bg-pink;
    }
  }
}

.radio-black {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-black;
      }
    }
    &:hover .group-checked {
      border-color: $bg-black;
    }
  }
}

.radio-white {
  .radio-group {
    .group-control {
      &:checked ~ .group-checked {
        background: $bg-white;
      }
      &:checked ~ .group-checked::after {
        background: $bg-black;
      }
    }
    &:hover .group-checked {
      border-color: $bg-white;
    }
  }
}
