.select {
  .select-label {
    display: block;
    margin-bottom: $m-1 - 0.5;
  }
  .select-wrap {
    position: relative;
    .wrap-group {
      display: flex;
      align-items: center;
      border: 0.5px solid $bg-gray;
      background: $bg-white;
      position: relative;
      transition: all $transition-time-md $transition-fn;
      .group-addon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .group-addon-before {
        border-right: 0.5px solid $bg-gray;
        padding-right: $p-1;
        margin-right: $m-1;
      }
      .group-addon-after {
        border-left: 0.5px solid $bg-gray;
        padding-left: $p-1;
        margin-left: $m-1;
      }
      .group-control {
        width: $w-full;
        display: flex;
        .control-box {
          width: $w-full;
          border: unset;
          background: transparent;
        }
        .control-action {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin-left: $m-1 - 0.5;
          &:hover path {
            color: $text-black;
          }
          path {
            transition: color $transition-time-md $transition-fn;
            color: $text-gray;
          }
          .action-icon {
            transition: transform $transition-time-md $transition-fn;
          }
          .action-icon-rotate {
            transform: rotate(180deg);
          }
        }
        .control-tags {
          min-width: max-content;
          margin-right: $m-1 - 0.5;
          font-size: $text-xxs;
          border-radius: $rounded;
          color: $text-white;
          * {
            color: $text-white;
          }
        }
      }
      .group-loading {
        width: $w-full;
        height: $h-full;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        .loading-icon {
          animation: spin $transition-time-md $transition-fn infinite;
        }
      }
    }
    .wrap-option {
      min-width: max-content;
      width: $w-full;
      border: 0.5px solid $bg-gray;
      box-shadow: 0 0 10px $bg-gray;
      background: $bg-white;
      overflow: hidden;
      position: absolute;
      top: 110%;
      left: 0;
      z-index: 10;
      opacity: 0;
      transition: all $transition-time-xs $transition-fn;
      .option-list {
        width: $w-full;
        .list-item {
          padding: $p-1 - 0.6 $p-1;
          margin: 0;
          border-bottom: 0.5px solid $bg-gray;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: all $transition-time-sm $transition-fn;
          &:last-child {
            border: unset;
          }
          * {
            transition: all $transition-time-sm $transition-fn;
          }
          .item-label {
            display: flex;
            .label-icon {
              margin-right: $m-1 + 0.5;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        .list-item-selected {
          color: $text-white;
          * {
            color: $text-white;
          }
        }
        .list-empty {
          height: $h-5;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $text-gray;
        }
        .list-loading {
          width: $w-full;
          height: $h-10 * 2;
          display: flex;
          align-items: center;
          justify-content: center;
          .loading-icon {
            animation: spin $transition-time-md $transition-fn infinite;
          }
        }
      }
      .option-list-scroll {
        height: $h-10 * 2;
        overflow-y: auto;
      }
      .option-pagination {
        padding: $p-1;
        border-top: 0.5px solid $bg-gray;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .pagination-content {
          margin-right: $m-1;
        }
        .pagination-actions {
          display: flex;
          align-items: center;
          .actions-btn {
            width: $w-2 + 0.5;
            height: $h-2 + 0.5;
            border: 0.5px solid $bg-gray;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity $transition-time-md $transition-fn;
            &:hover {
              opacity: 0.6;
            }
            &:nth-child(1) {
              border-top-left-radius: $rounded;
              border-bottom-left-radius: $rounded;
              border-left: unset;
            }
            &:nth-child(2) {
              border-top-right-radius: $rounded;
              border-bottom-right-radius: $rounded;
            }
          }
          .actions-btn-disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }
      }
    }
    .wrap-option-active {
      top: 120%;
      opacity: 1;
      animation: dropdown $transition-time-xs $transition-fn;
    }
  }
}

// Gap
.select-gap-sm {
  margin-bottom: $m-1;
}

.select-gap-md {
  margin-bottom: $m-1 + 0.5;
}

.select-gap-lg {
  margin-bottom: $m-2;
}

// Bottom
.select-bottom {
  .select-wrap {
    .wrap-option {
      top: unset !important;
      bottom: 100%;
    }
    .wrap-option-active {
      bottom: calc(100% + 5px);
      opacity: 1;
      animation: dropup $transition-time-xs $transition-fn;
    }
  }
}

// Disabled
.select-disabled {
  .select-label {
    color: $text-gray;
    * {
      color: $text-gray;
    }
  }
  .wrap-group {
    background: $bg-slate !important;
    &:hover {
      border-color: $bg-gray !important;
    }
    .control-box {
      color: $text-gray;
      cursor: not-allowed;
    }
  }
}

// Error
.select-error {
  .select-label {
    color: $text-red;
    * {
      color: $text-red;
    }
  }
  .wrap-group {
    border-color: $bg-red !important;
  }
}

// Size
.select-sm {
  .select-label {
    font-size: $text-xs;
    * {
      font-size: $text-xs;
    }
  }
  .wrap-group {
    padding: $p-1 - 0.8 $p-1 - 0.4;
    .group-control {
      * {
        font-size: $text-xs;
      }
      .control-tags {
        padding: $p-1 - 0.9 $p-1;
      }
    }
  }
  .wrap-option {
    .list-item {
      font-size: $text-xs;
      * {
        font-size: $text-xs;
      }
    }
  }
}

.select-md {
  .wrap-group {
    padding: $p-1 - 0.6 $p-1 - 0.2;
    .group-control {
      .control-tags {
        padding: $p-1 - 0.8 $p-1;
      }
    }
  }
}

.select-lg {
  .select-label {
    font-size: $text-md;
    * {
      font-size: $text-md;
    }
  }
  .wrap-group {
    padding: $p-1 - 0.4 $p-1;
    .group-control {
      * {
        font-size: $text-md;
      }
      .control-tags {
        padding: $p-1 - 0.7 $p-1;
      }
    }
  }
  .wrap-option {
    .list-item {
      font-size: $text-md;
      * {
        font-size: $text-md;
      }
    }
  }
}

// Shape
.select-square {
  .select-wrap {
    .wrap-group,
    .wrap-option {
      border-radius: $rounded;
    }
  }
}

.select-round {
  .select-wrap {
    .wrap-group {
      border-radius: $rounded-xxl;
    }
    .wrap-option {
      border-radius: $rounded-lg;
    }
  }
}

// Color
.select-blue {
  .wrap-group {
    &:hover {
      border-color: $bg-blue;
    }
    &:focus-within {
      border-color: $bg-blue;
    }
    .control-tags {
      background: $bg-blue;
    }
  }
  .wrap-option {
    .list-item {
      &:hover {
        background: $bg-blue-rgba-xs;
      }
    }
    .list-item-selected {
      background: $bg-blue;
    }
  }
}

.select-green {
  .wrap-group {
    &:hover {
      border-color: $bg-green;
    }
    &:focus-within {
      border-color: $bg-green;
    }
    .control-tags {
      background: $bg-green;
    }
  }
  .wrap-option {
    .list-item {
      &:hover {
        background: $bg-green-rgba-xs;
      }
    }
    .list-item-selected {
      background: $bg-green;
    }
  }
}

.select-orange {
  .wrap-group {
    &:hover {
      border-color: $bg-orange;
    }
    &:focus-within {
      border-color: $bg-orange;
    }
    .control-tags {
      background: $bg-orange;
    }
  }
  .wrap-option {
    .list-item {
      &:hover {
        background: $bg-orange-rgba-xs;
      }
    }
    .list-item-selected {
      background: $bg-orange;
    }
  }
}

.select-yellow {
  .wrap-group {
    &:hover {
      border-color: $bg-yellow;
    }
    &:focus-within {
      border-color: $bg-yellow;
    }
    .control-tags {
      background: $bg-yellow;
    }
  }
  .wrap-option {
    .list-item {
      &:hover {
        background: $bg-yellow-rgba-xs;
      }
    }
    .list-item-selected {
      background: $bg-yellow;
    }
  }
}

.select-purple {
  .wrap-group {
    &:hover {
      border-color: $bg-purple;
    }
    &:focus-within {
      border-color: $bg-purple;
    }
    .control-tags {
      background: $bg-purple;
    }
  }
  .wrap-option {
    .list-item {
      &:hover {
        background: $bg-purple-rgba-xs;
      }
    }
    .list-item-selected {
      background: $bg-purple;
    }
  }
}

.select-pink {
  .wrap-group {
    &:hover {
      border-color: $bg-pink;
    }
    &:focus-within {
      border-color: $bg-pink;
    }
    .control-tags {
      background: $bg-pink;
    }
  }
  .wrap-option {
    .list-item {
      &:hover {
        background: $bg-pink-rgba-xs;
      }
    }
    .list-item-selected {
      background: $bg-pink;
    }
  }
}
