.home-qna {
  width: $w-full;
  .qna-item {
    margin: $m-2 0;
    .item-label {
      padding: 0;
      .label-title {
        span {
          color: $text-blue;
        }
      }
      .label-icon {
        width: $w-1 + 0.5;
        height: $h-1 + 0.5;
        margin-right: $m-2;
      }
    }
    .item-label-active {
      .label-title {
        span {
          color: $text-red;
        }
      }
    }
    .item-content {
      .content-inner {
        padding: 1rem 0;
        text-align: justify;
      }
    }
  }
}
