@import './home-banner.scss';
@import './home-qna.scss';
@import './home-images.scss';
@import './home-footer.scss';

.home {
  font-family: 'Trirong Bold', sans-serif;
  * {
    font-family: 'Trirong Bold', sans-serif;
  }
  .section {
    padding: $p-5;
    .section-title {
      font-family: 'Abril Regular', sans-serif;
      font-size: $text-large;
      color: $text-blue;
      @include respond(mdPhone) {
        font-size: $text-xxl;
      }
    }
    .section-text {
      font-size: $text-md !important;
      @include respond(mdPhone) {
        font-size: $text-sm;
      }
    }
    @include respond(mdPhone) {
      padding: $p-5 $p-1 + 0.5;
    }
  }
  .home-section-divide {
    width: $w-full;
    height: $h-1 + 0.5;
    background: $bg-gray;
  }
}
