.home-images {
  .images-list {
    margin-top: $m-2;
    display: column;
    columns: 2;
    .list-inner {
      display: inline-block;
      .inner-image {
        width: auto;
        img {
          border: 1px solid $bg-blue;
          border-radius: $rounded;
        }
      }
    }
  }
  .images-action {
    margin-top: $m-2;
    border: unset;
    background: transparent;
    color: $text-red;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity $transition-time-md $transition-fn;
    &:hover {
      opacity: 0.6;
    }
    * {
      color: $text-red;
    }
  }
}
